@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    p {
        @apply leading-loose;
    }

    /* Layout Utilities */
    .flex-row-center {
        @apply flex;
        @apply flex-row;
        @apply items-center;
    }

    .flex-row-between {
        @apply flex;
        @apply flex-row;
        @apply justify-between;
    }

    .flex-col-center {
        @apply flex;
        @apply flex-col;
        @apply items-center;
    }

    .flex-col-start {
        @apply flex;
        @apply flex-col;
        @apply items-start;
    }

    .flex-col-between {
        @apply flex;
        @apply flex-row;
        @apply justify-between;
    }

    .divider {
        @apply w-full;
        @apply h-px;
        @apply bg-slate-300;
    }

    .first-section {
        @apply mt-20;
        @apply xl:mt-32;
        @apply flex;
        @apply flex-col;
        @apply items-start;
    }

    .first-section-content {
        @apply mt-8;
        @apply xl:mt-12;
        @apply 2xl:mt-16;
        @apply space-y-6;
        @apply xl:space-y-16;
        @apply 2xl:space-y-16;
        @apply opacity-0;
        @apply animate-fadein;
    }

    .mt-between-sections {
        @apply mt-64;
    }

    /* Typography Utilities */
    .offset-underline {
        @apply underline;
        @apply underline-offset-[0.5px];
    }

    .small-caps {
        @apply text-xs;
        @apply tracking-wide;
        @apply uppercase;
        @apply font-medium;
    }

    .md-caps {
        @apply text-[14px];
        @apply tracking-wide;
    }

    .hd-1 {
        @apply text-3xl;
        @apply font-bold;
        @apply text-slate-900;
    }

    .body {
        @apply leading-[180%];
    }

    address {
        @apply not-italic;
    }

    h1 {
        @apply m-0 !important;
    }

    .alt-serif {
        @apply font-bold;
        @apply font-lora;
    }

    /* Component Utilities */
    .btn {
        @apply flex;
        @apply justify-center;
        @apply rounded-[4px];
        @apply font-medium;
    }
    .btn-primary {
        @apply text-white;
        @apply bg-[#1272A5];
        @apply border-[2px];
        @apply border-gray-900;
    }

    .btn-secondary {
        @apply hover:offset-underline;
    }

    .btn-ghost {
        @apply border-[2px];
        @apply border-black;
    }

    .btn-sm {
        @apply px-7;
        @apply py-[7px];
        @apply text-[14px];
    }

    .btn-lg {
        @apply px-8;
        @apply py-[10px];
        @apply text-base;
    }

    .btn-destructive-sm {
        @apply flex;
        @apply justify-center;
        @apply px-8;
        @apply py-[9px];
        @apply border-solid;
        @apply border-[2px];
        @apply border-slate-900;
        @apply bg-[#D91E36];
        @apply text-white;
        @apply font-medium;
        @apply rounded-[4px];
        @apply text-sm;
    }

    .btn-disabled {
        @apply bg-gray-400;
        @apply border-black;
        @apply opacity-50;
    }

    .tag-grid {
        @apply grid;
        @apply grid-cols-3;
        @apply gap-x-2;
        @apply gap-y-2;
    }

    .tag {
        @apply bg-opacity-70;
        @apply px-2.5;
        @apply py-1.5;
        @apply text-sm;
        @apply text-center;
        @apply rounded-[4px];
        @apply border;
        @apply border-[1.8px];
        @apply border-slate-400;
        @apply bg-slate-100;
    }

    .tag-link {
        @apply bg-blue-50;
        @apply hover:border-blue-700;
        @apply hover:border-2;
        @apply hover:shadow-md;
    }

    .text-link {
        @apply hover:text-theme-accent;
        @apply cursor-pointer;
    }

    /* Color Utilities */

    .accent-blue {
        @apply bg-blue-500;
    }

    /* Table Utilities */
    .ml-table-col {
        @apply ml-8;
    }
    .w-id-col {
        @apply w-12;
        @apply shrink-0;
        @apply whitespace-nowrap;
    }
    .w-status-col {
        @apply w-[218px];
        @apply shrink-0;
    }
    .w-date-col {
        @apply w-32;
        @apply shrink-0;
    }
    .w-customer-col {
        @apply w-32;
        @apply shrink-0;
    }
    .w-port-col {
        @apply w-32;
        @apply shrink-0;
    }
    .w-trucker-col {
        @apply w-40;
        @apply shrink-0;
    }

    .w-long {
        @apply w-[760px];
    }
}

/* Misc Element Globals */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #f6f6f3 inset !important;
}

:root {
    --accent: theme("colors.yellow.accent");
}

.theme-blue {
    --accent: theme("colors.blue.accent");
}

.theme-green {
    --accent: theme("colors.green.accent");
}

.theme-red {
    --accent: theme("colors.red.accent");
}
