@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    p {
        @apply leading-loose;
    }

    /* Layout Utilities */
    .flex-row-center {
        @apply flex;
        @apply flex-row;
        @apply items-center;
    }

    .flex-row-between {
        @apply flex;
        @apply flex-row;
        @apply justify-between;
    }

    .flex-col-center {
        @apply flex;
        @apply flex-col;
        @apply items-center;
    }

    .flex-col-start {
        @apply flex;
        @apply flex-col;
        @apply items-start;
    }

    .flex-col-between {
        @apply flex;
        @apply flex-row;
        @apply justify-between;
    }

    .divider {
        @apply w-full;
        @apply h-px;
        @apply bg-slate-300;
    }

    .first-section {
        @apply mt-20;
        @apply xl:mt-32;
        @apply flex;
        @apply flex-col;
        @apply items-start;
    }

    .first-section-content {
        @apply mt-8;
        @apply xl:mt-12;
        @apply 2xl:mt-16;
        @apply space-y-6;
        @apply xl:space-y-16;
        @apply 2xl:space-y-16;
        @apply opacity-0;
        @apply animate-fadein;
    }

    .mt-between-sections {
        @apply mt-64;
    }

    /* Typography Utilities */
    .offset-underline {
        @apply underline;
        @apply underline-offset-[0.5px];
    }

    .small-caps {
        @apply text-xs;
        @apply tracking-wide;
        @apply uppercase;
        @apply font-medium;
    }

    .md-caps {
        @apply text-[14px];
        @apply tracking-wide;
    }

    .hd-1 {
        @apply text-3xl;
        @apply font-bold;
        @apply text-slate-900;
    }

    .body {
        @apply leading-[180%];
    }

    address {
        @apply not-italic;
    }

    h1 {
        @apply m-0 !important;
    }

    .alt-serif {
        @apply font-bold;
        @apply font-lora;
    }
}

/* Misc Element Globals */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #f6f6f3 inset !important;
}

:root {
    --accent: theme("colors.yellow.accent");
}

.theme-green {
    --accent: theme("colors.green.accent");
}

.theme-red {
    --accent: theme("colors.red.accent");
}

.theme-blue {
    --accent: theme("colors.blue.accent");
}
